<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configProtectedData defaultProvider="ProdProvider">
    <providers >
      <add name="ProdProvider"
           type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
           keyContainerName="ProdKey"
           useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <appSettings configProtectionProvider="ProdProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>MnOlBb3lGeSx/y5ELhYu3UpPL670djMPFIeAfaaLJCtvgpINQm2jYEFEVNivXSy/PaqjxEYAlflDCv08Bucb8WdEU6Fp7PVBJpKBjzSPZrNFAkyAg95aU7hLAaxPrcojsVlvzgYFxhekPzk8BjIhDkIWGBCBE7iLlgy4oDtCXsMOlAmP/hS0TDyb1hC+dvXrZtbpfCE/xheK1tec0RdaPCbbOV5uz74qP0oBsTEM+qSxbbXRGh35rFkjn+jWqatHhB7Cm1fFs9JBYMlwSRfaWrVZxtKMLGEuCQyKKehnckOtwXo6dLvtkwoa3w0dkG70S+9m+vY0LJaIVJdMgJn8Fw==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>NuQltWEgNufItPn4/YSfiN7T6Ln+AJ3ADzsSxoO/N1zZCvkwWScE2gfUlmPYAiPMl2NPzDVvq6Ot5M2pyA53FlJKqsOS8WHjxmAqpfqdYd8gFguDikqgPh/eil+Zbietvsgrx/SxaUY0i3kn2hNgqWM3gnNwuKTaIW33BCd2Pc/376TznzqdmlsR5J2Lbmpxmlh+KNONMbhGYtS2/kG0//tSs6mDG4gindhjrdXLlZo=</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  <connectionStrings>
    <add name="DB1"
         providerName="System.Data.SqlClient"
         connectionString="Server=.\MSSQLSERVER2017;Database=Test;Integrated Security=SSPI;"/>
  </connectionStrings>
</configuration>